body{
    background-image: url("../img/background.jpg");
}

header{
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}



section:nth-of-type(1) figure{
    margin: 0 auto;
}

section:nth-of-type(2){
    background-color: rgba(255, 0, 0, 0.411);
    font-family: 'Montserrat', sans-serif;
    color: grey;
}

section:nth-of-type(3){
    background-color: rgba(0, 128, 0, 0.411);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

